With Title From AI (1).json
{
  "name": "With Title From AI",
  "nodes": [
    {
      "parameters": {
        "functionCode": "const db_items = $('Select rows from a table').all().map(item => item.json.news_url);\n\nvar RSS_items = $('Parse RSS Feed').all();\n\nitems = RSS_items.filter(i =>\n  !db_items.includes(i.json.guid.toLowerCase().trim())\n);\n\nif (!items.length) return [];\n\n// Filter articles with content > 300 chars AND having an image\nconst filtered = items.filter(item => \n    (item.json.contentSnippet || '').length > 300 && \n    item.json.link && item.json.link\n);\n\nif (!filtered.length) return [];\n\n// Sort by isoDate descending (most recent first)\n\nconst mostRecent = filtered.sort((a, b) => new Date(b.json.isoDate) - new Date(a.json.isoDate))[0].json;\n\n// Use the enclosure image\nconst images = [mostRecent?.enclosure?.url??\"\"];\n\n// Return single article\nreturn [{\n  json: {\n    title: mostRecent.title,\n    link: mostRecent.guid,\n    pubDate: mostRecent.isoDate,\n    content: mostRecent.contentSnippet,\n    images: images\n  }\n}];\n"
      },
      "id": "f3b40b59-3570-4fe8-8002-a8877c405dc5",
      "name": "Get Most Recent Article",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        752,
        -896
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=“{{ $('Get Most Recent Article').item.json.content }}”",
        "options": {
          "systemMessage": "=You are a news reporter with exceptional talent for delivering entertainment news in a humorous, engaging, and natural style that keeps the audience entertained and hooked — Summarized all within 500 characters ."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1648,
        -896
      ],
      "id": "810d5816-fc7c-4db5-bcc6-d337cd7b9b09",
      "name": "AI Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://video_generation:8080/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"texts\":[\"{{ $('Code in JavaScript').item.json.output }}\"],\n  \"images\":\"{{ $json.image_urls_string }}\",\n  \"thumbnail\":\"{{ $('Get Most Recent Article').item.json.images[0] }}\",\n  \"thumbnail_text\":\"{{ $('Thumbnail Sentence').item.json.thumbnailTitle }}\",\n\"file_name\":\"{{ $('Thumbnail Sentence').item.json.fileName }}\"\n} ",
        "options": {
          "timeout": 6000000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4496,
        -896
      ],
      "id": "e852750f-4075-405e-810d-76e5138e49ae",
      "name": "HTTP Request",
      "retryOnFail": true
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('get just image URLS1').item.json.title }}",
        "regionCode": "IN",
        "categoryId": "24",
        "options": {
          "description": "={{ $('get just image URLS1').item.json.title }}\nDisclaimer: This video presents a summarized interpretation of publicly available news from the Times of India RSS feed and https://www.telugubulletin.com. The summary is AI-generated for educational and informational purposes only. All rights to the original content belong to the respective news publishers.\nAnd \nThis video includes images from Creative Commons and Public Domain sources, including but not limited to: \n {{ $('Code in JavaScript1').item.json.allDomains }} .\nAll image rights belong to their respective owners under CC licenses.",
          "notifySubscribers": true,
          "privacyStatus": "public",
          "publicStatsViewable": false,
          "selfDeclaredMadeForKids": false,
          "tags": "=shorts,viral,TrendFlicks,indian,cinema,movie,film,buzz,celebrity,gossip,bollywood,tollywood,kollywood,sandalwood,mollywood,south,actor,director,{{ $('Thumbnail Sentence').item.json.tags }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        5168,
        -992
      ],
      "id": "0693e647-0823-4ddc-9ee8-6f7f8e5a0ab3",
      "name": "Upload a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "MLX1zLGrP1QsQSvt",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://video_generation:8080/files",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "path",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4720,
        -896
      ],
      "id": "b9170d4a-fbf1-4f4c-a55b-0fe8a1b94c54",
      "name": "Get video file",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst sanitizedItems = items.map(item => {\n    const newItem = { ...item };\n\n    function sanitizeText(text) {\n        if (!text) return text;\n\n        // Decode common HTML entities for quotes\n        text = text.replace(/&#8216;|&lsquo;/g, \"\"); // left single quote\n        text = text.replace(/&#8217;|&rsquo;/g, \"\"); // right single quote\n        text = text.replace(/&#8220;|&ldquo;/g, \"\"); // left double quote\n        text = text.replace(/&#8221;|&rdquo;/g, \"\"); // right double quote\n        text = text.replace(/&quot;/g, \"\");          // double quote\n\n        // Remove straight, curly, and escaped quotes\n        text = text.replace(/[\"]|\\\\\\\"|\\\\'/g, \"\");\n\n        // Remove all types of line breaks (actual, escaped, unicode)\n        text = text.replace(/(\\r\\n|\\n|\\r|\\u2028|\\u2029)/g, \" \"); // actual newlines\n        text = text.replace(/\\\\r\\\\n|\\\\n|\\\\r/g, \" \");             // escaped newlines\n\n        // Remove all special characters except letters, numbers, basic punctuation\n        text = text.replace(/[^a-zA-Z0-9 .,'!?;:()-]/g, \" \");\n\n        // Reduce multiple spaces to a single space\n        text = text.replace(/\\s+/g, \" \");\n\n        // Trim leading/trailing spaces\n        return text.trim();\n    }\n    function removeBeforeColonIfSure(text) {\n    if (text.toLowerCase().includes(\"sure\")) {\n        const colonIndex = text.indexOf(\":\");\n        if (colonIndex !== -1) {\n            return text.slice(colonIndex + 1).trim();\n        }\n    }\n    return text;\n}\n    if (newItem.json.output) {\n        newItem.json.output = sanitizeText(newItem.json.output);\n      newItem.json.output = newItem.json.output.replace(\"Sure, here is the summary you requested:\",\"\");\nnewItem.json.output = newItem.json.output.replace(\"Here are a few YouTube-ready, curiosity-driven, and click-worthy titles based on the\",\"\");\n      \n      newItem.json.output = removeBeforeColonIfSure(newItem.json.output);\n    }\n\n    return newItem;\n});\n\nreturn sanitizedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        -896
      ],
      "id": "32ec38c3-1aff-4b54-81b8-07f148405bfd",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "http://video_generation:8080/files",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "path",
              "value": "={{ $('HTTP Request').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6512,
        -896
      ],
      "id": "d636d4b6-909d-4620-a327-617071589b35",
      "name": "HTTP Request1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "news_articles",
          "mode": "name"
        },
        "limit": 200,
        "sort": {
          "values": [
            {
              "column": "published_date",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        528,
        -896
      ],
      "id": "7dccbb7a-a3dc-4f36-8f2b-309867c0e5fa",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "NE096mJWWov1mBGd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "news_articles",
          "mode": "list",
          "cachedResultName": "news_articles"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "news_url": "={{ $('Get Most Recent Article').item.json.link }}",
            "published_date": "={{ $('Get Most Recent Article').item.json.pubDate }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "news_url",
              "displayName": "news_url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "published_date",
              "displayName": "published_date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6736,
        -896
      ],
      "id": "7ed56efb-dca6-4abd-96b0-6481618564df",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "NE096mJWWov1mBGd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 29
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -144,
        -896
      ],
      "id": "b7967062-7734-4d1e-9f22-9b58999fdee9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "={{ $json.rssFeedURL }}",
        "options": {
          "customFields": ""
        }
      },
      "id": "8d3e87c4-c147-4285-ad60-e59713be4958",
      "name": "Parse RSS Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        304,
        -896
      ]
    },
    {
      "parameters": {
        "jsCode": "var images = [];\n\nfunction sanitizeTextTitle(item){\n    var newItem = item;\n\n    function sanitizeText(text) {\n        if (!text) return text;\n\n        // Decode common HTML entities for quotes\n        text = text.replace(/&#8216;|&lsquo;/g, \"\"); // left single quote\n        text = text.replace(/&#8217;|&rsquo;/g, \"\"); // right single quote\n        text = text.replace(/&#8220;|&ldquo;/g, \"\"); // left double quote\n        text = text.replace(/&#8221;|&rdquo;/g, \"\"); // right double quote\n        text = text.replace(/&quot;/g, \"\");          // double quote\n\n        // Remove straight, curly, and escaped quotes\n        text = text.replace(/['\"‘’“”]|\\\\\\\"|\\\\'/g, \"\");\n\n        // Remove all types of line breaks (actual, escaped, unicode)\n        text = text.replace(/(\\r\\n|\\n|\\r|\\u2028|\\u2029)/g, \" \"); // actual newlines\n        text = text.replace(/\\\\r\\\\n|\\\\n|\\\\r/g, \" \");             // escaped newlines\n\n        // Remove all special characters except letters, numbers, basic punctuation\n        text = text.replace(/[^a-zA-Z0-9 .,!?;:()-]/g, \" \");\n\n        // Reduce multiple spaces to a single space\n        text = text.replace(/\\s+/g, \" \");\n\n        // Trim leading/trailing spaces\n        return text.trim();\n    }\n    function removeBeforeColonIfSure(text) {\n    if (text.toLowerCase().includes(\"sure\")) {\n        const colonIndex = text.indexOf(\":\");\n        if (colonIndex !== -1) {\n            return text.slice(colonIndex + 1).trim();\n        }\n    }\n    return text;\n}\n    if (newItem) {\n        newItem = sanitizeText(newItem);\n      newItem = newItem.replace(\"Sure, here is the summary you requested:\",\"\");\n\n      newItem = removeBeforeColonIfSure(newItem);\n    }\n  newItem = newItem.length > 90 ? newItem.substring(0, 87) + \"...\" : newItem;\n      \n  return newItem;\n};\nconst sanitizedTitle = sanitizeTextTitle($input.first().json.output);\nreturn [\n  {\n    json: {\n      title: sanitizedTitle,\n      images: images\n    }\n  }\n];;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        -896
      ],
      "id": "66c9b39f-9023-47fa-922e-3a65cf5fd775",
      "name": "get just image URLS1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dockerproxy:2375/containers/ollama/restart",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1200,
        -896
      ],
      "id": "adc1d8c6-dd3f-439d-be21-366574591518",
      "name": "HTTP Request2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dockerproxy:2375/containers/ollama/stop",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3600,
        -896
      ],
      "id": "be1867f8-2ab5-4a1f-947b-99e264fde612",
      "name": "HTTP Request3",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "gemma:2b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1728,
        -672
      ],
      "id": "a0bf8963-3db7-4e21-b842-936a81fce2d7",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "91n7NtWZ1glPjoZa",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate one YouTube-ready, curiosity-driven, and click-worthy video title based on the following headline: “{{ $('Get Most Recent Article').item.json.title }}”.\nThe output should be short (under 60 characters), engaging, and designed to make viewers want to watch the video immediately — without being misleading or clickbait.",
        "options": {
          "systemMessage": "="
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2224,
        -896
      ],
      "id": "bab4a392-1634-41ba-9cd9-0017b0f71bd4",
      "name": "AI Agent1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": "gemma:2b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2304,
        -672
      ],
      "id": "5a34f09d-a6b4-4365-9e0e-2f0eefaf5674",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "91n7NtWZ1glPjoZa",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var retry = retry + 1;\n// n8n passes all incoming items as an array\nconst allInput = $input.all();\n\n// collect all image URLs\nconst links = [];\n\nfor (const input of allInput) {\n  const data = input.json;\n\n  // Google Custom Search style\n  if (data.items && Array.isArray(data.items)) {\n    for (const img of data.items) {\n      if (img.link) {\n        links.push(img.link);\n      }\n    }\n  }\n}\n\n// Limit to 6 images for your video generation\n//const limitedLinks = links.slice(0, 6);\n// Allowed image extensions\nconst imageExtensions = ['.jpg', '.jpeg', '.png'];\n\n// Filter links\nconst filteredLinks = links.filter(url => {\n  const lowerUrl = url.toLowerCase();\n  const isImage = imageExtensions.some(ext => lowerUrl.endsWith(ext));\n  const isNotFacebook = ((!lowerUrl.includes('timesofindia.')) || !lowerUrl.includes('facebook.com'));\n  return isImage && isNotFacebook;\n});\n\n\n// Helper function to extract domain\nfunction getDomain(url) {\n  try {\n    return new URL(url).hostname;\n  } catch (e) {\n    // fallback for malformed URLs\n    return url.replace(/(^\\w+:|^)\\/\\//, '').split('/')[0];\n  }\n}\n\n// Extract, deduplicate, and sort\nconst uniqueDomains = [...new Set(filteredLinks.map(getDomain))].sort();\n\n\n// Return both array and string\nreturn [\n  {\n    image_urls_string: filteredLinks.join(\",\"),\n    allDomains: uniqueDomains.join(\", \")\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4272,
        -896
      ],
      "id": "42a1f140-8170-46df-963a-27a99fd087d5",
      "name": "Code in JavaScript1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "cx",
              "value": "52cb6bca4d4824472"
            },
            {
              "name": "searchType",
              "value": "image"
            },
            {
              "name": "key",
              "value": "AIzaSyDNpQXVQFwbxTFyFZsJ3koIUYwEpcswXBs"
            },
            {
              "name": "q",
              "value": "={{ $('Get Most Recent Article').item.json.title }}"
            },
            {
              "name": "imgSize",
              "value": "xxlarge"
            },
            {
              "name": "ImgType",
              "value": "photo"
            },
            {
              "name": "rights",
              "value": "cc_publicdomain, cc_attribute"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4048,
        -896
      ],
      "id": "53654581-26c9-42e7-89f6-6f8f583b8e5e",
      "name": "Google Search Images",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dockerproxy:2375/containers/video_generation/stop",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        976,
        -896
      ],
      "id": "b360f9be-5ba0-427c-bbdd-93a9b1362874",
      "name": "Pause video_generation",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dockerproxy:2375/containers/video_generation/restart",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3376,
        -896
      ],
      "id": "0f85e26b-8853-452e-a60e-26158398f208",
      "name": "Unpause video_generation",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1424,
        -896
      ],
      "id": "6539dd47-9603-4640-afcb-82aa82716094",
      "name": "Wait",
      "webhookId": "81ecdd21-2df4-45f5-ba6f-0a3792f96975"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3824,
        -896
      ],
      "id": "1cb3c723-cfff-4277-a3fb-2d36668d1dc7",
      "name": "Wait1",
      "webhookId": "dbf3c9e7-8f99-4bfd-a417-67574922ca4b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dailymotion.com/user/TrendFlicksEntertainment/videos",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n        \"url\": \"{{ $json.url }}\",\n        \"title\": \"{{ $('get just image URLS1').item.json.title }}\",\n        \"channel\": \"fun\",\n        \"tags\": \"{{ $('Thumbnail Sentence').item.json.tags }},shorts,viral,TrendFlicks,indian,cinema,movie,film,buzz,celebrity,gossip\",\n        \"published\": \"true\",\n        \"private\":\"false\",\n        \"is_created_for_kids\":\"false\",\n        \"description\":\"{{ $('get just image URLS1').item.json.title }} Disclaimer: This video presents a summarized interpretation of publicly available news from the Times of India RSS feed. The summary is AI-generated for educational and informational purposes only. All rights to the original content belong to the respective news publishers. And This video includes images from Creative Commons and Public Domain sources, including but not limited to:  {{$('Code in JavaScript1').item.json.allDomains}} .All image rights belong to their respective owners under CC licenses.\"\n    }",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $('Dailymotion token').item.json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5840,
        -800
      ],
      "id": "1799b4ea-d1bc-4bde-8267-95c24a4360ae",
      "name": "HTTP Request5",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://partner.api.dailymotion.com/oauth/v1/token",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "scope",
              "value": "manage_videos write"
            },
            {
              "name": "client_id",
              "value": "817f53cc008799b0e59f"
            },
            {
              "name": "client_secret",
              "value": "37217c79b4e574c57c8dfce780309134983b17b9"
            },
            {
              "name": "grant_type",
              "value": "password"
            },
            {
              "name": "username",
              "value": "ch.venkat94@gmail.com"
            },
            {
              "name": "password",
              "value": "AmmaNana143*"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4944,
        -800
      ],
      "id": "8db1168e-bea0-4cc2-9d20-28df169a6e6c",
      "name": "Dailymotion token"
    },
    {
      "parameters": {
        "url": "https://api.dailymotion.com/file/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5168,
        -800
      ],
      "id": "1db97760-10bb-4fde-9069-6dd2fb683b69",
      "name": "upload_get_url"
    },
    {
      "parameters": {
        "url": "http://video_generation:8080/files",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "path",
              "value": "={{ $('Get video file').item.json.output }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5392,
        -800
      ],
      "id": "e8b5054e-aebe-4ad3-9c42-ed95ae1df269",
      "name": "Get video file1",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6064,
        -896
      ],
      "id": "ab9510c8-0804-4f44-9db6-03143d3effe8",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6288,
        -896
      ],
      "id": "7d8897be-32c6-4086-8b37-931ce4b431fc",
      "name": "Wait2",
      "webhookId": "a47495b7-abbf-4429-8312-8c210fb6be9d"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a short thumbnail text (5–6 words) that creates curiosity, emotion, and urgency based on the following topic:\n“{{ $json.title }}”.\nThe line must be catchy, conversational, and emotionally charged — not a full sentence, no punctuation at the end, and suitable for YouTube Shorts thumbnails. ",
        "options": {
          "systemMessage": "="
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2800,
        -896
      ],
      "id": "e744d60d-0d56-466c-ac76-f3c144af41dd",
      "name": "AI Agent2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": "gemma:2b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2880,
        -672
      ],
      "id": "5838825c-d1ac-447b-828b-171e2f0f6817",
      "name": "Ollama Chat Model2",
      "credentials": {
        "ollamaApi": {
          "id": "91n7NtWZ1glPjoZa",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var images = [];\n\nfunction sanitizeTextTitle(item){\n    var newItem = item;\n\n    function sanitizeText(text) {\n        if (!text) return text;\n\n        // Decode common HTML entities for quotes\n        text = text.replace(/&#8216;|&lsquo;/g, \"\"); // left single quote\n        text = text.replace(/&#8217;|&rsquo;/g, \"\"); // right single quote\n        text = text.replace(/&#8220;|&ldquo;/g, \"\"); // left double quote\n        text = text.replace(/&#8221;|&rdquo;/g, \"\"); // right double quote\n        text = text.replace(/&quot;/g, \"\");          // double quote\n\n        // Remove straight, curly, and escaped quotes\n        text = text.replace(/['\"‘’“”]|\\\\\\\"|\\\\'/g, \"\");\n\n        // Remove all types of line breaks (actual, escaped, unicode)\n        text = text.replace(/(\\r\\n|\\n|\\r|\\u2028|\\u2029)/g, \" \"); // actual newlines\n        text = text.replace(/\\\\r\\\\n|\\\\n|\\\\r/g, \" \");             // escaped newlines\n\n        // Remove all special characters except letters, numbers, basic punctuation\n        text = text.replace(/[^a-zA-Z0-9 .,!?;:()-]/g, \" \");\n\n        // Reduce multiple spaces to a single space\n        text = text.replace(/\\s+/g, \" \");\n\n        // Trim leading/trailing spaces\n        return text.trim();\n    }\n    function removeBeforeColonIfSure(text) {\n    if (text.toLowerCase().includes(\"sure\")) {\n        const colonIndex = text.indexOf(\":\");\n        if (colonIndex !== -1) {\n            return text.slice(colonIndex + 1).trim();\n        }\n    }\n    return text;\n}\n    if (newItem) {\n        newItem = sanitizeText(newItem);\n      newItem = newItem.replace(\"Sure, here is the summary you requested:\",\"\");\n\n      newItem = removeBeforeColonIfSure(newItem);\n    }\n  newItem = newItem.length > 90 ? newItem.substring(0, 87) + \"...\" : newItem;\n      \n  return newItem;\n};\nconst sanitizedTitle = sanitizeTextTitle($input.first().json.output).replace(\"thumbnail\",\"\")\n\nlet safeName = sanitizedTitle\n    .replace(/[<>:\"/\\\\|?*\\x00-\\x1F]/g, \"\")\n    .replace(/\\s+/g, \"_\")           \n    .replace(/[^\\w\\-_.]/g, \"\")   \n    .trim();\n\n  safeName = safeName.substring(0, 100);\n\nconst stopWords = [\n  'a','an','the','is','are','was','were','of','to','in','on','for',\n  'with','and','or','as','by','at','from','this','that','it','be'\n];\n\nconst tags = sanitizedTitle\n  .toLowerCase()\n  .split(/\\s+/)\n  .filter(word => word && !stopWords.includes(word))\n  .join(',');\n\nreturn [\n  {\n    json: {\n      thumbnailTitle: sanitizedTitle,\n      tags: tags,\n      fileName: safeName.toLowerCase()\n    }\n  }\n];;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3152,
        -896
      ],
      "id": "f7c9dae6-7532-40c0-b151-6b6e97117a1d",
      "name": "Thumbnail Sentence",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const isEven = Number($input.first().json.Hour)%2;\nvar rssFeedURL = \"https://www.telugubulletin.com/movies/feed\"\n\nif (isEven == 0) {\n  rssFeedURL = \"https://timesofindia.indiatimes.com/rssfeeds/1081479906.cms\"\n}\nreturn [{\n  rssFeedURL: rssFeedURL\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -896
      ],
      "id": "a99e2c32-fce6-4e48-b186-def6655d6ace",
      "name": "RSS Feed Selection"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/upload/youtube/v3/thumbnails/set?videoId={{ $('Upload a video').item.json.uploadId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5632,
        -1152
      ],
      "id": "742e1b13-8413-4cdb-89ca-786496193aa9",
      "name": "HTTP Request4",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "MLX1zLGrP1QsQSvt",
          "name": "YouTube account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "http://video_generation:8080/get_thumbnail",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "path",
              "value": "={{ $('HTTP Request').item.json.output.replace(\".mp4\",\".png\") }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5408,
        -1152
      ],
      "id": "e00910bb-888c-4073-bbb1-572235aa5bdd",
      "name": "Get thumbnail file",
      "alwaysOutputData": false,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "update",
        "videoId": "={{ $('Upload a video').item.json.uploadId }}",
        "title": "={{ $('get just image URLS1').item.json.title }}",
        "regionCode": "IN",
        "categoryId": "24",
        "updateFields": {
          "description": "={{ $('get just image URLS1').item.json.title }} Disclaimer: This video presents a summarized interpretation of publicly available news from the Times of India RSS feed and https://www.telugubulletin.com. The summary is AI-generated for educational and informational purposes only. All rights to the original content belong to the respective news publishers. And  This video includes images from Creative Commons and Public Domain sources, including but not limited to:   {{ $('Code in JavaScript1').item.json.allDomains }} . All image rights belong to their respective owners under CC licenses.",
          "privacyStatus": "public"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        5856,
        -1152
      ],
      "id": "eb4fc2f0-61f5-40d1-a0fc-3d6216d385b8",
      "name": "Update a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "MLX1zLGrP1QsQSvt",
          "name": "YouTube account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('upload_get_url').item.json.upload_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Dailymotion token').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5616,
        -800
      ],
      "id": "e1835cb6-4e38-4c1e-9aa3-a3158fe1f6fc",
      "name": "Upload raw file",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/youtube/v3/playlistItems?part=snippet",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"snippet\": {\n    \"playlistId\": \"PLiOmYWCIVGE8SQ083b7ZtyTyLxm9_oP1B\",\n    \"resourceId\": {\n      \"kind\": \"youtube#video\",\n      \"videoId\": \"{{ $('Upload a video').item.json.uploadId }}\"\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5584,
        -976
      ],
      "id": "48de8e25-634c-4985-ac91-e7528802344f",
      "name": "HTTP Request6",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "MLX1zLGrP1QsQSvt",
          "name": "YouTube account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get Most Recent Article": {
      "main": [
        [
          {
            "node": "Pause video_generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Get video file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a video": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video file": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dailymotion token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Get Most Recent Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Feed Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse RSS Feed": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get just image URLS1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "get just image URLS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Search Images": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pause video_generation": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unpause video_generation": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Google Search Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dailymotion token": {
      "main": [
        [
          {
            "node": "upload_get_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload_get_url": {
      "main": [
        [
          {
            "node": "Get video file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video file1": {
      "main": [
        [
          {
            "node": "Upload raw file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Thumbnail Sentence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thumbnail Sentence": {
      "main": [
        [
          {
            "node": "Unpause video_generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Selection": {
      "main": [
        [
          {
            "node": "Parse RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Update a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get thumbnail file": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload raw file": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a video": {
      "main": [
        []
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "66c42d38-b074-440d-8a79-92752fe31621",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "633ddd8f3e218555fc3391a2ccfc784767407c0ac9e14203726840ec344c05e7"
  },
  "id": "DdnH7TKI7PBuGj8q",
  "tags": []
}